IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "button_s1" H11;
IO_LOC "button_s2" H10;

IO_PORT "button_s1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_PORT "button_s2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC "done" D7;
IO_PORT "done" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC "usb_dp" L6;
IO_LOC "usb_dn" K6;

IO_PORT "usb_dp" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "usb_dn" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "clkp" C11;
IO_LOC "clkn" C10;
IO_LOC "rp" B11;
IO_LOC "rn" B10;
IO_LOC "gp" D11;
IO_LOC "gn" D10;
IO_LOC "bp" G11;
IO_LOC "bn" G10

IO_PORT "rp"   IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=8;
IO_PORT "rn"   IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=8;
IO_PORT "gp"   IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=8;
IO_PORT "gn"   IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=8;
IO_PORT "bp"   IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=8;
IO_PORT "bn"   IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=8;
IO_PORT "clkp" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=8;
IO_PORT "clkn" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=8;

IO_LOC "led[0] " L5
IO_LOC "led[1] " K5
IO_LOC "led[2] " K11
IO_LOC "led[3] " L11
IO_LOC "led[4] " E11
IO_LOC "led[5] " E10
IO_LOC "led[6] " A11
IO_LOC "led[7] " A10
IO_LOC "led[8] " H5
IO_LOC "led[9] " J5
IO_LOC "led[10]" H8
IO_LOC "led[11]" H7
IO_LOC "led[12]" G7
IO_LOC "led[13]" G8
IO_LOC "led[14]" F5
IO_LOC "led[15]" G5


IO_PORT "led[0] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[1] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[2] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[3] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[4] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[5] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[6] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[7] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[8] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[9] " IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;